.project-container {
  font-family: "Ubuntu", sans-serif;
  z-index: 100;
  color: #282c34;
}

.projects-title {
  position: sticky;
  top: 42px;
  background-color: whitesmoke;
  text-align: center;
  font-size: 80px;
  z-index: 2;
}

.more-projects {
  text-align: center;
  display: block;
  margin: 20px auto;
  font-size: 50px;
  color: whitesmoke;
  text-decoration: none;
}

.project-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards {
  padding-top: 20px;
  margin: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  min-width: 400px;
  max-width: 450px;
  min-height: 550px;
  box-shadow: 2px 2px 30px rgba(245, 245, 245, 0.7);
  transition: transform 0.3s cubic-bezier(0.55, 0.67, 0.8, 1);
  cursor: crosshair;
}

.prj-img {
  border-radius: 10px;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.card-title {
  text-align: center;
  font-size: 30px;
}

.card-desc {
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.cards:hover {
  transform: scale(1.05);
}

@media (max-width: 1500px) {
  .project-cards {
    justify-content: center;
    margin: 0;
  }

  .card-title {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .projects-title {
    font-size: 45px;
    padding: 10px;
  }
  
  .project-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards {
    min-width: 300px;
    min-height: 100px;
  }
  .card-desc {
    display: none;
  }
}

@media (max-width: 320px) {
  .cards {
    min-width: 250px;
  }
}
