
.myPic1{
    z-index: 5;
    position: relative;
    display: block;
    margin-top: 150px;
    margin: 0 auto;
    border: solid whitesmoke 5px;
    border-radius: 10px;
    width: 25%;
}

.img-flex {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-title {
    z-index: 7;
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 80px;
    color: #282c34;
    position: sticky;
    top: 43px;
}

.about-me {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: crosshair;
}

span {
    color: whitesmoke;
    transition: transform 0.5s, color 0.2s;
}

.txt1:hover {
    color: #1abc9c;
    transform: scale(1.01);
}

.txt2:hover {
    color: #2ecc71;
    transform: scale(1.01);
}

.txt3:hover {
    color: #3498db;
    transform: scale(1.01);
}

.txt4:hover {
    color: #e74c3c;
    transform: scale(2);
}

.txt5:hover {
    color: #9b59b6;
    transform: scale(1.01);
}

.txt6:hover {
    color: #e74c3c;
    transform: scale(1.01);
}

.txt7:hover {
    color: #16a085;
    transform: scale(1.01);
}

.txt8:hover {
    color: #e67e22;
    transform: scale(1.01);
}

.txt9:hover {
    color: #e74c3c;
    transform: scale(1.01);
}

.secret {
    display: none;
}


@media(max-width: 750px) {
    .about-me {
        font-size: 30px;
    }

    .myPic1 {
        width: 45%;
    }
}

@media(max-width: 500px) {
    .about-me {
        font-size: 20px;
    }

    .about-title {
        font-size: 55px;
    }
}

@media(max-width: 350px) {
    .about-me {  
        font-size: 20px;
    }

    .about-title {
        font-size: 50px;
        padding: 10px;
    }
}
