
.myPic1{
    z-index: 5;
    position: relative;
    display: block;
    margin-top: 150px;
    margin: 0 auto;
    border: solid whitesmoke 5px;
    border-radius: 50px;
    width: 20%;
}

.myPic2{
    z-index: 5;
    position: absolute;
    display: block;
    margin-top: 150px;
    margin: 0 auto;
    border: solid whitesmoke 5px;
    border-radius: 50px;
    width: 20%;
}

.myPic3{
    z-index: 5;
    position: absolute;
    display: block;
    margin-top: 150px;
    margin: 0 auto;
    border: solid whitesmoke 5px;
    border-radius: 50px;
    width: 20%;
}

.myPic4{
    z-index: 5;
    position: absolute;
    display: block;
    margin-top: 150px;
    margin: 0 auto;
    border: solid whitesmoke 5px;
    border-radius: 50px;
    width: 20%;
}

.myPic5{
    z-index: 5;
    position: absolute;
    display: block;
    margin-top: 150px;
    margin: 0 auto;
    border: solid whitesmoke 5px;
    border-radius: 50px;
    width: 20%;
}

.secretLink {
    z-index: 1;
    position: absolute;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 10px;
    text-align: center;
    color: whitesmoke;
    font-weight: 200;
}

.img-flex {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-title {
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 80px;
    color: #282c34;
    position: sticky;
    top: 43px;
}

.about-me {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: crosshair;
}

span {
    color: whitesmoke;
    transition: transform 0.5s, color 0.2s;
}

.txt1:hover {
    color: #1abc9c;
    transform: scale(1.01);
}

.txt2:hover {
    color: #2ecc71;
    transform: scale(1.01);
}

.txt3:hover {
    color: #3498db;
    transform: scale(1.01);
}

.txt4:hover {
    color: #e74c3c;
    transform: scale(2);
}

.txt5:hover {
    color: #9b59b6;
    transform: scale(1.01);
}

.txt6:hover {
    color: #e74c3c;
    transform: scale(1.01);
}

.txt7:hover {
    color: #16a085;
    transform: scale(1.01);
}

.txt8:hover {
    color: #e67e22;
    transform: scale(1.01);
}

.txt9:hover {
    color: #e74c3c;
    transform: scale(1.01);
}

.coding-journey-title {
    background-color: whitesmoke;
    color: #282c34;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 60px;
}

.coding-journey-desc {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-left: 10%;
    margin-right: 10%;
    cursor: crosshair;
    color: whitesmoke;
}

.secret {
    display: none;
}


@media(max-width: 1000px) {
    .about-me {
        font-size: 30px;
    }

    .coding-journey-desc {
        font-size: 30px;
    }
}

@media(max-width: 500px) {
    .about-me {
        font-size: 20px;
    }

    .about-title {
        font-size: 55px;
    }

    .coding-journey-title {
        font-size: 50px;
    }

    .coding-journey-desc {
        font-size: 20px;
        margin: 10px;
    }
}

@media(max-width: 350px) {
    .about-me {  
        font-size: 20px;
        margin-bottom: 300px;
    }

    .about-title {
        font-size: 50px;
        padding: 10px;
    }

    .coding-journey-title {
        font-size: 40px;
        margin: 0px;
    }

    .coding-journey-desc {
        font-size: 18px;
        margin: 10px;
    }
}
