
.myPic{
    display: block;
    margin-top: 150px;
    margin-left: 5%;
    border: solid whitesmoke 5px;
    border-radius: 50px;
    width: 20%;
}


.about-title {
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 80px;
    color: #282c34;
    position: sticky;
    top: 43px;
}

.about-me {
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    font-size: 40px;
    margin-left: 5%;
    margin-right: 45%;
    cursor: crosshair;
}

text {
    color: whitesmoke;
    transition: transform 0.5s, color 0.2s;
}

.txt1:hover {
    color: #1abc9c;
    transform: scale(1.01);
}

.txt2:hover {
    color: #2ecc71;
    transform: scale(1.01);
}

.txt3:hover {
    color: #3498db;
    transform: scale(1.01);
}

.txt4:hover {
    color: #e74c3c;
    transform: scale(2);
}

.txt5:hover {
    color: #9b59b6;
    transform: scale(1.01);
}

.txt6:hover {
    color: #e74c3c;
    transform: scale(1.01);
}

.txt7:hover {
    color: #16a085;
    transform: scale(1.01);
}

.txt8:hover {
    color: #e67e22;
    transform: scale(1.01);
}

.txt9:hover {
    color: #e74c3c;
    transform: scale(1.01);
}
