* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  background-color: #282c34;
}

noscript {
  text-align: center;
  font-size: 25px;
  color: whitesmoke;
}

.main-outro {
  background-color: whitesmoke;
  border: 2px inset #282c34;
  text-align: center;
}

#outro-text {
  color: #282c34;
  font-size: 1rem;
}