.scroll-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-weight: 600;
    font-size: 200px;
    opacity: 0;
    transition: cubic-bezier(0.23, 1, 0.620, 1) 0.5s;
    margin: 150px;
}

.active {
    opacity: 1;
}


.removeClass {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  .removeClass:visited {
    color: inherit;
  }

.special-text1 {
    margin-bottom: 600px;
    z-index: -1;
}

.special-text2 {
    z-index: -1;
}

.scroll-text:hover {
    cursor: default;
}

@media(max-width: 1150px) {
    .scroll-text {
        display: block;
        font-size: 150px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media(max-width: 750px) {
    .scroll-text {  
        font-size: 100px;
        margin-bottom: 200px;
    }
}

@media(max-width: 500px) {
    .scroll-text {  
        font-size: 75px;
        margin-bottom: 200px;
    }
}

@media(max-width: 350px) {
    .scroll-text {  
        font-size: 35px;
        margin-bottom: 200px;
    }
}