
.my-journey {
    margin: 0;
    background-color: whitesmoke;
    color: #282c34;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 80px;
    position: sticky;
    top: 0px;
}

.journey-desc {
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 500;
    margin: 0 10% 50px 10%;
}

.web-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 200px;
}

.web-link {
    width: 132px;
    height: 132px;
}

.web-img {
    border: solid whitesmoke 5px;
    border-radius: 90px;
    width: 100%;
    height: 100%;
    transition: transform 0.1s, ;
}

.web-img:hover {
    transform: scale(1.2);
}

.age {
    color: #282c34;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: whitesmoke;
}

.back {
    color: #282c34;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: whitesmoke;
    text-decoration: none;
}
