.Navbar {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: auto;
}

.Nav1 {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: static;
}



.nav1-child {
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  color: whitesmoke;
  margin: 10px;
}


.Navbar2 {
  background-color: white;
  display: block;
  color: white;
  border: solid black 1px;
  position: sticky;
  width: auto;
  height: auto;
  top: 0;
  z-index: 100;
}

.Nav2 {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 0%;
  margin-bottom: 0%;
}

.nav2-child {
  padding: 5px;
  text-align: center;
  color: #282c34;
  margin: 10px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  transition: transform 0.5s, color 0.1s, background-color 0.1s;
}

.nav2-child:hover {
  transform: scale(1.1);
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 12px;
}

@media(max-width: 500px) {

}