.project-container { 
    z-index: 100;
}

.projects-title {
    position: sticky;
    top: 42px;
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 80px;
    color: #282c34;
    z-index: 2;
}

.project-cards {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    margin: 100px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.cards {
    margin: 10px;
     padding-top: 15px;
    color: #282c34;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    width: 500px;
    box-shadow: -10px -10px 50px #282c34, -10px -5px 40px whitesmoke;
    transition: transform 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.67, 0.8, 1);
    cursor: crosshair;
    padding-bottom: 100px;
}

.card-1 {
    background-color: whitesmoke;
    border-radius: 15px;
}

.prj-img-1 {
    margin-top: 20px;
    width: 90%;
    border-radius: 30px;
}

.prj-img-2 {
    margin: 20px;
    width: 90%;
    border-radius: 30px;
}

.prj-img-3 {
    width: 90%;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.prj-img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: solid whitesmoke 1px;
}

.card1-title {
    text-align: center;
    font-size: 35px;
}

.card1-desc {
    margin: 20px;
    text-align: center;
    font-size: 25px;
}

.card2-title {
    text-align: center;
    font-size: 35px;
}

.card2-desc {
    margin: 20px;
    text-align: center;
    font-size: 25px;
}

/* .proj-links {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 100px;
}

.special-link {
    margin-top: 120px;
}

.link-text {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #282c34;
}

.mod-link {
    font-size: 28px;
    font-weight: 400;
    color: #282c34;
    text-decoration: none;
    transition: font-size 0.1s, color 0.1s, background-color 0.1s;
    padding: 5px;
} */

/* .card-3 {
    padding-bottom: 190px;
} */

.cards:hover {
    transform: scale(1.05);
}

/* .mod-link:hover {
    font-size: 30px;
    color: whitesmoke;
    background-color: #282c34;
    border-radius: 15px;
} */

.removeClass {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.removeClass:visited {
    color: inherit;
}

.minor-proj-title {
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 60px;
    color: #282c34;
}

.minor-proj-list {
    margin-left: 30px;
    text-align: left;
    font-size: 40px;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

.proj-li {
    padding-top: 20px;
    padding-bottom: 20px;
    color: whitesmoke;
}

.cmng-soon {
    text-align: center;
    
}
